@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/*Aqui empieza la parte de orejarena*/

    .profileCont{
   
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-inline: 1rem;
        background: #D5D9FF;

    }

    .leftProfile{
   
        display: flex;
        align-items: center;
        gap: 1rem;

    }

    .profileImgCont{

        width: 55px;
        height: 55px;
        border-radius: 50%;
        overflow: hidden;

    }

    .profileImg{
        
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

    }

    .totalpartLeft{

        height: 100vh;
        /* min-width: 320px; */
        max-width: 23%;
        background: rgba(0, 0, 0, 0.1);

    }

    .TitleallChats{

        text-align: center;
        padding: 1rem;

    }
    .messageBox{
      display: flex;
      padding: 1rem;
      width: 100%;
    }

    .messageBox:hover{

        cursor: pointer;
        background-color: #D5D9FF;
        transition: all .8s ease-out;

    }

/*Aqui termina la parte de orejarena*/

/*Aquí yacé la parte de KDOE*/
.contHeader{
    display:flex;
    gap: 1rem;
    width: 60%;
}
.contHeader a{
    background: rgb(190, 197, 255);
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.contHeader .main{
    background: rgb(97, 113, 255);
}
.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    min-width: 60%;
    padding: 40px;
    gap: 1.7rem;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.1);
}
.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
/*Aquí termina la parte de KDOE*/

/* Empieza la parte de vanessa */
    .containerFather{
        display: flex;
        width: 100%;
        gap: 7%;
        overflow: hidden;
    }

    .appDivPadre{
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }

    .appDivPadreSpan{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .divDescription{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 90%;
        gap: 0.68rem;
    }

    .spanPlaceHolder{
        display:flex;
        align-items: center; 
        color: #757575;   
        padding: 6px 12px;
        width: 100%;
        border-radius: 0.5rem;
        text-align: justify;
    }

    .spanTitle {
        font-size: 1.1em;
    }

    .divSonDescription{
        border: #C2C2C2 1px solid;
        border-radius: 8px;
        width: 100%;
        background-color: #ffff;
    }
    .buttons{
        width: 60px;
    }
/* Aqui termina la parte de vanessa */

/* Empieza parte de johan */
.container{
    
    display: flex;
    align-items: center;
}

.containerChatDescr{

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.containerParagraphs{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px ;
}

.divImagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.divImageProfile {
    width: 70%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.imagenProfile{
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    object-fit: cover;
}

.paragraphs{
    text-align: justify;
}

.divParagraphs{
    width: 90%;
    color: #757575
}

.divSubTitles{
    color: #757575
}
/*Termina parte de johan*/

/*Aquí empieza la parte de Natalia*/
.botones{
    width: 113px;
    height: 36px;
    font-size: 16px;
    background: #D5D9FF;
    color: #4267C7;
    border-radius: 10px;
    border: none;
}
.containerbutton{
    display: flex;

    align-items: center;
    /* padding: 8px, 16px, 8px, 16px; */
    width: 100%;
    gap: 15px;
}

.divContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    gap: 0.9rem;
}

.containerP {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.buttons:hover {
    cursor: pointer;
    filter: saturate(180%);
}
/*Aquí termina la parte de Natalia*/

.title-all-chats{
    padding-left: 2.5vh;
    font-size: 2vh;
  }
  
  .interCaja{
    cursor: pointer;
  }
  
  .interCaja:hover{
    border: 3px  #F1F4F6;
    background-color: #F1F4F6;
    transition: .3s;
  }
  
  .insertPhotoChat:hover{
    transform: scale(1.2);
    transition: .3s;
  }
  
  .insertPhotoChat{
    cursor: pointer;
  }
  
  /*Aca termina la partde de Carlos*/
  
  /*Aca empieza la parte de olarte*/
   /* este es el estilo del contenedor que contiene el buscador y los chats  */
   .father-all-chats{
    height: 100%;
    overflow-x: hidden;
   }
  
   .father-all-chats::-webkit-scrollbar{
  
    width: .2rem;
    background-color: #D5D9FF;
  
   }
  
  /* agegando estilo al contenedor que contiene el buscador */
  
  .dadCont{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 100px;
    
  }
  
  .padrePadre{
  
    height: 70%;
  
  }
  
  .padreAllChat{
  
    height: 100%;
  
  }
  
  .searc{
  
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
    
  }
  .lupa{
  
    position: absolute;
    width: 30px;
    cursor: pointer;
    height: 30px;
    border: none;

  }
  .searchContac{
  
    display: flex;
    background: #F2F3F5;
    width: 20%;
    height: 35px;
    border-radius: 20px;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    font-size: 14px;
    gap: 7px;
    border: none;
    transition: all 1s ease-in-out;
    
  }
  
  
  
  /* Aca termina la parte */
  
/* Cajas de mensajes (Maria) */

[class*="box-message-"]{

    position: relative;
  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    max-width: 80%;
    padding: 15px 43px 10px 20px;
    border-radius: 10px;
  
  }
  
  .box-message-verde{
  
    background-color: #61C554;
    color: white;
  
  }
  
  .box-message-gris{
  
    background-color: #E8ECEF;
    color: black;
  
  }
  
  .icon-check{
      position: absolute;
      text-align: right;
      right: 10px;
      bottom: 0;
  }
  
  .message{
    font-size: 14px;
  }
  
  .double-check-verde{
    width: 15px;
    height: 15px;
    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(72deg) brightness(104%) contrast(99%)
  }
  
  .double-check-gris{
    width: 15px;
    height: 15px;
    filter: invert(83%) sepia(4%) saturate(6487%) hue-rotate(169deg) brightness(104%) contrast(100%)
  }
  
  .hour{
    color: #727272;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9rem;
  }
  /* Aca acaba la parte de Maria */
  
  /*Aca empieza la parte de Orejarena*/
  
  .parentParentMid{

    position: relative;
    width: 100%;

  }
  
  .parentTop{
  
    display: flex;
    align-items: center;
    height: 10%;
    gap: 1rem;
    margin: 0 1rem 1rem;
  
  }
  
  .contImgTopMid{
  
    display:flex;
    height: 55px;
    width: 55px;
    overflow: hidden;
    border-radius: 50%;
  
  }
  
  .imgTopMidChat{
  
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  
  }
  
  .padreCenter{
  
    display: flex;
    flex-direction: column;
    height: 74%;
    border-radius: 1rem;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
    background-color: #F1F4F7;
  
  }

  .padreMensajes{
    display: grid;
    gap: 1rem;
    overflow-x: hidden;
  }
  

  .parentMessage-transmitter .hour{
  
    text-align: right;
    
  
  }
  
  .parentMessage-transmitter{
  
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: inherit;
  
  }
  
  .contInputSend{
  
    position: absolute;
    bottom: 0;
    justify-content: center;
    display: flex;
    inline-size: 100%;
  
  }
  
  .inputSendMessage{
  
    border: none;
      inline-size: 83%;
      border-radius: 60px;
      padding: 1rem 1rem 1rem 3rem;
  
  }
  
  .x{

    position: absolute;
    top: -8px;
    right: 0;
    padding: 0.2rem;

  }

  .x:hover{

    cursor: pointer;
    transform: scale(1.1);
    transition: all 1s ease-in-out;

  }

  /*Aca termina la parte de Orejarena*/
  
  /*Aca empieza la parte de sebastian*/
  .cont{
    width: 150px;
    height: 150px;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }
  .spas{
    text-align: center;
    color: red;
    display: block;
    width: 100%;
    height: 20%;
    cursor: pointer;
  }
  /*Aca termina la parte de sebastian*/
  
  /* Aquí empieza parte de Yulieth */
  
  /* Contact info y about */
  
  .info{
    margin: 30px 0 50px 0;
  }
  
  .info, .about{
    font-size: 14px;
    text-align: left;
    font-weight: bolder;
  }
  
  /* imagen de perfil */
  .ellipse{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  /* Contenedor de la imagen */
  .elipCont{

    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;

  }

  /* Nombre de perfil */
  .nameProf{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 10px 0;
  }
  
  /* Descripción del perfil */
  .description{
    font-size: 14px;
    text-align: center;
    color: #A2A2A2;
  }
  /* Aquí termina parte Yulieth */
  
  .principal{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 62%;
    transform: translate(0,-200%);
  }
  
  .cont2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .childContent {
    background: rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      display: flex;
      justify-content: space-between;
      gap: 2.1rem;
      inline-size: fit-content;
      height: 80vh;
      width: 100%;
      padding: 30px;
      overflow: hidden;
  }
  
  