@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100&display=swap');



*{
    padding: 0;
    margin: 0;
    font-family: "Poppins";

   
}

/* aca empieza la parte de jose caballero */

.subContainer{
    width: 30%;
    height: 90%;
    color: #4267C7;
   display: flex;
   flex-direction: column;

    
    
}
.titleContainerOne{
    font-weight: bold;
    letter-spacing: 2%;
    font-size: 3.5rem;
    margin-bottom: 2%;
   
}

.subTitleContainerOne{
  font-weight: bold;
    letter-spacing: -1%;
    font-size: 1.4rem;
    margin-bottom: 6%;

}
.descContainerOne{

    font-weight: bold;
    letter-spacing: -1%;
    font-size: 1.3rem;
}
/* aca termina la parte de jose caballero */