@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/*Aqui empieza la parte de orejarena*/

    .profileCont{
   
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-inline: 1rem;
        background: #D5D9FF;

    }

    .leftProfile{
   
        display: flex;
        align-items: center;
        gap: 1rem;

    }

    .profileImgCont{

        width: 55px;
        height: 55px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;

    }

    .profileImg{
        
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

    }

    .totalpartLeft{

        height: 100vh;
        width: 47vmin;
        min-width: 47vmin;

        background: rgba(0, 0, 0, 0.1);

    }

    .TitleallChats{

        text-align: center;
        padding: 1rem;

    }
    .messageBox{
      display: flex;
      padding: 1rem;
      width: 100%;
    }

    .messageBox:hover{

        cursor: pointer;
        background-color: #D5D9FF;
        transition: all .8s ease-out;

    }

/*Aqui termina la parte de orejarena*/

/*Aquí yacé la parte de KDOE*/
.contHeader{
    display:flex;
    gap: 1rem;
    width: 60%;
}
.contHeader a{
    background: rgb(190, 197, 255);
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.contHeader .main{
    background: rgb(97, 113, 255);
}
.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    max-width: 60%;
    padding: 40px;
    gap: 1.7rem;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.1);
}
.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
/*Aquí termina la parte de KDOE*/

/* Empieza la parte de vanessa */
    .containerFather{
        display: flex;
        width: 100%;
        gap: 7%;
        overflow: hidden;
    }

    .appDivPadre{
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }

    .appDivPadreSpan{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .divDescription{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 90%;
        gap: 0.68rem;
    }

    .spanPlaceHolder{
        display:flex;
        align-items: center; 
        color: #757575;   
        padding: 6px 12px;
        width: 100%;
        border-radius: 0.5rem;
        text-align: justify;
    }

    .spanTitle {
        font-size: 1.1em;
    }

    .divSonDescription{
        border: #C2C2C2 1px solid;
        border-radius: 8px;
        width: 100%;
        background-color: #ffff;
    }
    .buttons{
        width: 60px;
    }
/* Aqui termina la parte de vanessa */

/* Empieza parte de johan */
.container{
    
    display: flex;
    align-items: center;
}

.containerChatDescr{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.containerParagraphs{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px ;
}

.divImagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.divImageProfile {
    width: 70%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.imagenProfile{
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    object-fit: cover;
}

.paragraphs{
    text-align: justify;
}

.divParagraphs{
    width: 90%;
    color: #757575
}

.divSubTitles{
    color: #757575
}
/*Termina parte de johan*/

/*Aquí empieza la parte de Natalia*/
.botones{
    width: 113px;
    height: 36px;
    font-size: 16px;
    background: #D5D9FF;
    color: #4267C7;
    border-radius: 10px;
    border: none;
}
.containerbutton{
    display: flex;

    align-items: center;
    /* padding: 8px, 16px, 8px, 16px; */
    width: 100%;
    gap: 15px;
}

.divContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    gap: 0.9rem;
}

.containerP {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.buttons:hover {
    cursor: pointer;
    filter: saturate(180%);
}
/*Aquí termina la parte de Natalia*/

.title-all-chats{
    padding-left: 2.5vh;
    font-size: 2vh;
  }
  
  .interCaja{
    cursor: pointer;
  }
  
  .interCaja:hover{
    border: 3px  #F1F4F6;
    background-color: #F1F4F6;
    transition: .3s;
  }
  
  .insertPhotoChat:hover{
    transform: scale(1.2);
    transition: .3s;
  }
  
  .insertPhotoChat{
    cursor: pointer;
  }
  
  /*Aca termina la partde de Carlos*/
  
  /*Aca empieza la parte de olarte*/
   /* este es el estilo del contenedor que contiene el buscador y los chats  */
   .father-all-chats{
    height: 100%;
    overflow-x: hidden;
   }
  
   .father-all-chats::-webkit-scrollbar{
  
    width: .2rem;
    background-color: #D5D9FF;
  
   }
  
  /* agegando estilo al contenedor que contiene el buscador */
  
  .dadCont{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 100px;
    
  }
  
  .padrePadre{
  
    height: 70%;
  
  }
  
  .padreAllChat{

    display: grid;
  
    width: 100%;
    height: 100%;
  
  }
  
  .searc{
  
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
    
  }
  .lupa{
  
    position: absolute;
    width: 30px;
    cursor: pointer;
    height: 30px;
    border: none;

  }
  .searchContac{
  
    display: flex;
    background: #F2F3F5;
    width: 20%;
    height: 35px;
    border-radius: 20px;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    font-size: 14px;
    gap: 7px;
    border: none;
    transition: all 1s ease-in-out;
    
  }
  
  
  
  /* Aca termina la parte */
  
/* Cajas de mensajes (Maria) */

[class*="box-message-"]{

    position: relative;
  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    max-width: 80%;
    padding: 15px 43px 10px 20px;
    border-radius: 10px;
  
  }
  
  .box-message-verde{
  
    background-color: #61C554;
    color: white;
  
  }
  
  .box-message-gris{
  
    background-color: #E8ECEF;
    color: black;
  
  }
  
  .icon-check{
      position: absolute;
      text-align: right;
      right: 10px;
      bottom: 0;
  }
  
  .message{
    font-size: 14px;
  }
  
  .double-check-verde{
    width: 15px;
    height: 15px;
    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(72deg) brightness(104%) contrast(99%)
  }
  
  .double-check-gris{
    width: 15px;
    height: 15px;
    filter: invert(83%) sepia(4%) saturate(6487%) hue-rotate(169deg) brightness(104%) contrast(100%)
  }
  
  .hour{
    color: #727272;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9rem;
  }
  /* Aca acaba la parte de Maria */
  
  /*Aca empieza la parte de Orejarena*/
  
  .parentParentMid{

    position: relative;
    width: 100%;

  }
  
  .parentTop{
  
    display: flex;
    align-items: center;
    height: 10%;
    gap: 1rem;
    margin: 0 1rem 1rem;
  
  }
  
  .contImgTopMid{
  
    display:flex;
    height: 55px;
    width: 55px;
    overflow: hidden;
    border-radius: 50%;
  
  }
  
  .imgTopMidChat{
  
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  
  }
  
  .padreCenter{
  
    display: flex;
    flex-direction: column;
    height: 74%;
    border-radius: 1rem;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
    background-color: #F1F4F7;
  
  }

  .padreMensajes{
    display: grid;
    gap: 1rem;
    overflow-x: hidden;
  }
  

  .parentMessage-transmitter .hour{
  
    text-align: right;
    
  
  }
  
  .parentMessage-transmitter{
  
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: inherit;
  
  }
  
  .contInputSend{
  
    position: absolute;
    bottom: 0;
    justify-content: center;
    display: flex;
    inline-size: 100%;
  
  }
  
  .inputSendMessage{
  
    border: none;
      inline-size: 83%;
      border-radius: 60px;
      padding: 1rem 1rem 1rem 3rem;
  
  }
  
  .x{
    position: absolute;
    top: 20px;
    right: 27px;
    padding: 0.2rem;
  }


  .x:hover{

    cursor: pointer;
    transform: scale(1.1);
    transition: all 1s ease-in-out;

  }

  /*Aca termina la parte de Orejarena*/
  
  /*Aca empieza la parte de sebastian*/
  .cont{
    width: 150px;
    height: 150px;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }
  .spas{
    text-align: center;
    color: red;
    display: block;
    width: 100%;
    height: 20%;
    cursor: pointer;
  }
  /*Aca termina la parte de sebastian*/
  
  /* Aquí empieza parte de Yulieth */
  
  /* Contact info y about */
  
  .info{
    margin: 30px 0 50px 0;
  }
  
  .info, .about{
    font-size: 14px;
    text-align: left;
    font-weight: bolder;
  }
  
  /* imagen de perfil */
  .ellipse{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  /* Contenedor de la imagen */
  .elipCont{

    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;

  }

  /* Nombre de perfil */
  .nameProf{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 10px 0;
  }
  
  /* Descripción del perfil */
  .description{
    font-size: 14px;
    text-align: center;
    color: #A2A2A2;
  }
  /* Aquí termina parte Yulieth */
  
  .principal{
    
    display: none;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 62%;
    transform: translate(0,-200%);
  }
  
  .cont2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .childContent {
    background: rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      display: flex;
      justify-content: space-between;
      gap: 2.1rem;
      inline-size: fit-content;
      height: 80vh;
      width: 100%;
      padding: 30px;
      overflow: hidden;
  }
  

/*AQUI EMPIEZA LA PARTE DEL PERFIL*/
/* Aqui empieza La parte de Orejarena */


.padre{

  background: rgba(0, 0, 0, 0.1);
  min-width: 60%;
  border-radius: 30px;
  display: none;
  justify-self: center;
  align-self: center;
  gap: 2.1rem; 
  height: 86%;
  padding: 30px;

  transform: translate(200%,0);

}


/* Aqui termina la parte de Orejarena */

/* Aqui empieza la parte de Jose */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;0,900;1,200&display=swap');



.profile{
    display: flex;
    width: 96vmin;
    height: 30vmin;
   flex-direction: row;
   justify-content: space-evenly;
 
}

.photo{
    display: flex;
    border-radius:50%;
    position: relative;
    
    width: 30vmin;
    height: 30vmin;
}
.years{
    display: flex   ;
    font-size: larger;
    font-weight: 900;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(o,o,o,-2);
    width: 40px;
    height: 40px;
    z-index: 2;
    align-items: center;
    justify-content: center;
    border: solid 3px rgb(0, 0, 0);
    border-radius: 50%;
   
}
.img{
  width:30vmin ;
 height: 30vmin;
 border-radius:50%;
    background-size: cover;
    background-position: contain;
    z-index: 1;
    object-fit: cover;
    object-position: center;
}

.date{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.date>div>p{
  font-size: 2vmin;
    font-weight: 900;
}
h1{
    font-size: 7.5vmin;
    font-weight: 900;
}
.eParents{
  display: flex;
  gap: 1vmin;
  flex-direction: column;
  justify-content: space-between;
}
h3{
    font-size: 3vmin;
    font-weight: 900;
}
.descriptionProfile>p{
    font-size: 2vmin;
    font-weight: 900;
}


/* parte inferios de la vista */
.profileInf{
   
   display: flex;
   width: 90vmin;
   height: 35vmin;
  flex-direction: row;
  justify-content:  space-evenly;
}

.estudios{
    width: 35vmin;
font-size: 2vmin;
font-weight: 800;
    border: solid 3px rgb(0, 0, 0   );
    border-radius: 1vmin;
    padding: 1vmax;
}

.otros{
    height: 25vmin;
    font-size: 2.5vmin;
    font-weight: 900;
    border: solid 3px rgb(0, 0, 0   );
    border-radius: 1vmin;
    padding: 2vmin 2vmin;
   
    overflow-y: scroll;

}
.otros::-webkit-scrollbar{
    display: none;
}

.profileInf{
    width: 100vmin;
    height: 35vmin;
}
li{
  font-size: 2vmin;
  font-weight: 900;
  list-style: none;
  color: #514c74;
}

.descriptionProfile{
    width: 55vmin;
   
    display: flex;
    flex-direction: column;
    border: solid 3px rgb(0, 0, 0   );
    border-radius: 1vmin;
    padding: 1vmin;  
    text-align: center;

    font-size: 2.5vmin;
    font-weight: 900;
    gap: 1.5vmin;
    overflow-y: scroll;

}
.descriptionProfile>h3{
  font-size: 3vmin;
  font-weight: 900;
  text-transform: uppercase;
}
.descriptionProfile::-webkit-scrollbar{
    display: none;
}

.descriptionPerfil{
  height: 80%;
  width: 100%;
  color: #514c74;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

/* Aqui termina la parte de Jose */


/*Aquí yace la parte de KDOE-117*/
/*Estructura Registro Empresa Seccion A*/
.seccionA {
  display: flex;
  width: 100%;
  gap: 70px;
}

.seccionLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.seccionCredenciales {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.subSecSup {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.subSecInf {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.contGeneral {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/*Estilos Registro Empresa Seccion A*/
.textEdit {
  cursor: pointer;
  color: #000;
  font-weight: bold;
}

.textoEmpresa {
  
  font-size: 1rem;
}
.inputEmpresa {
  font-size: 1.1rem;
  padding:5px 10px 5px 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(126, 120, 120)
}

/*Logos*/
.contLogo{

  display: flex;
  width: 16vmin;
  height: 16vmin;
  align-items: center;
  justify-content: center;
  border-radius: 80%;
  background-color: white;


}
.contLogo .LogoRegister {

  min-width: 3rem;

}

.contLogo .contEdit{
  cursor: pointer;
}

/*Aquí termina la parte de KDOE-117*/


/*Aqui empieza la parte de Julieth*/
/* Estilos del contenedor padre */

.seccionB{

  display: grid;

}



/* Contenedor de las fechas y ubicacion */
.container-location{
  display: flex;
  flex-direction: column;
}

/* Texto inicial de los datos */
.info{
  font-style: normal;
  font-weight: 500;
  font-size: 1.15rem;
  line-height: 20px;
  display: flex;
  align-items: center;
}

/* contenedor padre de los datos de la empresa */
.info-location{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0px;
  gap: 4rem;
}

/* contenedor de los datos */
.div-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

/* label de los datos y descripcion */
label{
  font-style: normal;
  font-size: 1rem;
  line-height: 20px;
  display: flex;
  
  align-items: center;
}

/* Estilos input y select */
#data{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px 13px;
  width: 250px;
  height: 38px;
  background: #FFFFFF;
  border: 2px solid #CED4DA;
  border-radius: 10px;
}

/* Contenedor de la descripcion de la empresa */
.container-description{
  display: grid;
  flex-direction: column;
  align-items: flex-start;
}

.container-description label{
  
  font-size: 1rem;

}

.description{

  height: 5rem;
  border: 1px solid #C2C2C2;
  padding: .2rem .5rem;
  border-radius: .5rem;

}
/*Aquí Finaliza Parte de Yulieth Correa*/


/* desde aquí empiza los estilos del cuentanos mas sobre tí parte que le tocaba a andres felipe olarte */

.parentInterest{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  border: none;
  background: #ffffff;
  
  border: 1px solid #C2C2C2;
  border-radius: .8rem;

}

.interestBtn{
  border: none;
  background: #6171FF;
  border-radius: 10px;
  font-size: 16px;
  color: #ffffff;
  width: fit-content;
  padding: .5rem 1rem;
}

button:hover{
  cursor: pointer;
}

/* aquí finaliza la parte de Andres Felipe Olarte Quintero */


/*aca empieza pao  */

/* Diseño del modal */

.divFatherUpload{
  position: absolute;
  
}

.modalContent{
  width: 200px;
  box-sizing: border-box;
  height: 160px;
  bottom: 207px;
  left: -44px;
  background: #FFFFFF;
  border: 2px dashed #CECECE;
  border-radius: 16px;
  position: relative;
  z-index: 1;
  overflow: auto; 
  display: flex;
  
  

}

img.imageUpload{
  height: 22px;
  width: 33px;
  cursor:pointer;
}

.uploadImage {
  display: flex;
  align-items: center;
  justify-content: center;
}



.modalContent .close{
  color: red;
  float: right;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}



.modalContent .close:hover .close:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}



.textosUpload{
  font-family: 'Poppins';
  font-size: 11px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.08px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5px;
  
}



.modalContent {
  /* display: flex; */
  display: block;
  padding: 30px;
  /* gap : 20px; */
}


.fileInput{
  display: none;
}

/*aca finaliza la parte de pao */
/* Parte johan*/

.contenedorInputs{
  display: flex;

  width: 100%;
  height: 30%;
}

.dateBirth{
  font-size: 13px;
  display: flex;
  flex-direction: column;
}
.Country{
  font-size: 13px;
  display: flex;
  flex-direction: column;
}
.city{
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.inputIcon{
  position: relative;
 
  width: 200px;
}

.icons{
  width: 15px;

  position: absolute;

  right: 30px;
  top: 50%;

  transform: translateY(-50%);
}

.abajo1{
  width: 15px;

  position: absolute;

  right: 105px;
  top: 50%;

  transform: translateY(-50%);
}

.abajo2{
  width: 15px;

  position: absolute;

  right: 90px;
  top: 50%;

  transform: translateY(-50%);
}

.title{
  font-weight: normal;
}

.inputsDate{
  border: 1px solid gray;
  border-radius: 5px;


  width: 200px;

  padding: 5px 10px 5px 5px;
}

/* Fin parte johan */


