@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

/* Aqui empieza La parte de Orejarena */

/*Animación Inicial*/
@keyframes slidein {
    from {
      opacity: 0;
      margin-left: 50%;
    }
  
    to {
        opacity: 1;
      margin-left: 0%;
    }
  }

body{

    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;
    background: linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);

}

.PadrePadre{
    animation-duration: 1.5s;
    animation-name: slidein;

}

.Padre{
    background: white;
    width: 100vmin;
    display: grid;
    gap: 1.2rem;
    padding: 30px;
    box-shadow: 5px 5px 20px rgba(15, 15, 15, 0.3);
}


.submitButton{

    display: grid;
    justify-self: center;
    width: fit-content;
    padding: .5rem 1rem;

    border: none;
    border-radius: 1rem;

    background-color: #4267C7;
    color: white;

}

/* Aqui termina la parte de Orejarena */
/* Aqui empieza la parte de Jose */



/* estilos para el modal de registro  */

.modalPadre , .modalHijo{
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.301);
}

.containerRolesAndAreas{
    
        padding: 1.5rem;
    border-radius: 0.5rem;
    width:37%;
    height: fit-content;
    background-color:white ;
    }
    
    
    .header{
       
        font-size: 1.3rem;
    
        font-weight: 600;
       padding: 0.3rem;
       margin-bottom: 12px;
    }
    
   
    .containerRolesAndAreas input , .profileRoles input{
       
        color:#4267C7;
        border: solid 0px ;
        border-radius: 10px;
        padding: 8px 12px 8px 12px;
        margin: 5px 10px 5px 1px;
        font-size: 0.9rem;
        font-weight: 600;
        background-color: #D4D9FF;
    
    }
    #agregarCambios{
           
            color:#fff;
            border: solid 0px ;
            border-radius: 10px;
            padding: 8px 12px 8px 12px;
            margin: 12px 10px 5px 1px;
        font-weight: 500;
            font-size: 0.9rem;
            background-color: #4267C7;
          
        }
    .containerRolesAndAreas input:hover, .agregarCambios:hover{
        cursor: pointer;
    }

/* este es el header de los componenetes */
.contHeader{
     display:flex;
    gap: 1rem;
    padding-bottom: 30px;
}

.contHeader a{
    
    background: rgb(190, 197, 255);
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

.contHeader .profile{

    background: rgb(97, 113, 255);

}

/* Aqui termina la parte de Jose */


/*Aquí yace la parte de KDOE-117*/
/*Estructura Registro Empresa Seccion A*/
.seccionA {
    display: flex;
    width: 100%;
    gap: 70px;
}

.seccionLogo {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    row-gap: 10px;
}

.seccionCredenciales {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.subSecSup {
    display: flex;
    align-items: center;
    gap: 4rem;
}
.subSecInf {
    display: flex;
    align-items: center;
    gap: 4rem;
}
.contGeneral {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*Estilos Registro Empresa Seccion A*/
.textEdit {
    cursor: pointer;
    color: #000;
    font-weight: bold;
}

.textoEmpresa {
    font-size: 1rem;
}
.inputEmpresa {
    font-size: 0.9rem;
    padding:5px 10px 5px 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(126, 120, 120)
}

/*Logos*/
.contLogo{
   width: 70%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.contLogo .LogoRegister {
    background-color: white;
    border-radius: 0.5rem;
    object-fit: contain;
    max-width: 100%;
    max-height: 160px;
    object-position: center;
    /* machetazos salvajes ugh *cara vomitando*
    width: 100%;
    height: auto;
    min-height: 100px;
    min-width: 100%;
    */
}

.profileImage {
    border-radius: 16px;
}

.contLogo .contEdit{
    cursor: pointer;
}

.textEdit{
    color:#4267C7
}

.textEdit:hover{
    color:#4267C7;
    text-decoration: underline;
}

.tellAboutTitle {
    font-size: 1.1rem;
    font-weight: bold;
}
.tellAboutSpan {
    font-size: 1rem;
    font-weight: 500;
    
}
.rolesInProfiles{
    margin-top: 1rem;
}
/*Aquí termina la parte de KDOE-117*/


/*Aqui empieza la parte de Julieth*/
/* Estilos del contenedor padre */

.seccionB{

    display: grid;
    gap: 1.8rem;

}

.container{
    display: grid;
    margin: 1em;
    padding: 30px;
    gap: 36px;
    /* position: absolute; */
    background: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

/* Contenedor de las fechas y ubicacion */
.container-location{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* Texto inicial de los datos */
.info{
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    display: flex;
    align-items: center;
}

/* contenedor padre de los datos de la empresa */
.info-location{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0px;
    gap: 41px;
}

/* contenedor de los datos */
.div-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
}

/* label de los datos y descripcion */
label{
    font-style: normal;
    font-size: 0.9rem;
    line-height: 20px;
    display: flex;
    align-items: center;
}

/* Estilos input y select */
#data{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px 13px;
    width: 250px;
    height: 38px;
    background: #FFFFFF;
    border: 2px solid #CED4DA;
    border-radius: 10px;
}

/* Contenedor de la descripcion de la empresa */
.container-description{
    display: grid;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.container-description label{
    
    font-size: 1rem;

}

.description{

    height: 3.5rem;
    border: 1px solid #bf4040;
    padding: .2rem .5rem;
    border-radius: .5rem;  
    resize: none;

}
/*Aquí Finaliza Parte de Yulieth Correa*/


/* desde aquí empiza los estilos del cuentanos mas sobre tí parte que le tocaba a andres felipe olarte */

.parentInterest{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    gap: 0.7rem;
    border: none;
    background: #ffffff;
    border: 1px solid #C2C2C2;
    border-radius: .8rem;

}

.interestBtn{
    border: none;
    background: #4267C7;
    border-radius: 10px;
    font-size: 16px;
    color: #ffffff;
    width: fit-content;
    padding: .5rem 1rem;
}

input:hover{
    cursor: pointer;
}

/* aquí finaliza la parte de Andres Felipe Olarte Quintero */


/*aca empieza pao  */

/* Diseño del modal */

.divFatherUpload{
    position: absolute;
}

.modalContent{
    width: 190px;
    padding: 30px;
    box-sizing: border-box;
    height: 140px;
    background: #FFFFFF;
    border: 2px dashed #CECECE;
    border-radius: 16px;
    position: absolute;
 }

 img.imageUpload{
    height: 22px;
    width: 33px;
    cursor:pointer;
 }

 .uploadImage {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .modalContent .close{
    color: red;
    float: right;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
 }

 .modalContent .close:hover .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
 }
 .textosUpload{
    font-family: 'Poppins';
    font-size: 11px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.08px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5px;
    
 }

 .

 .fileInput{
    display: none;
}

/*aca finaliza la parte de pao */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container{
    
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100%;
}
.contenedorInputs{
    display: flex;
    
    gap: 20px;

    width: 100%;
    height: 30%;
}

.dateBirth{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.Country{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.city{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.inputIcon{
    position: relative;
   
    width: 200px;
}

.icons{
    width: 15px;

    position: absolute;

    right: 30px;
    top: 50%;

    transform: translateY(-50%);
}

.abajo1{
    width: 15px;

    position: absolute;

    right: 105px;
    top: 50%;

    transform: translateY(-50%);
}

.abajo2{
    width: 15px;

    position: absolute;

    right: 90px;
    top: 50%;

    transform: translateY(-50%);
}

.title{
    font-weight: normal;
}

.inputsDate{
    border: 1px solid gray;
    border-radius: 5px;


    width: 200px;

    padding: 5px 10px 5px 5px;
}

        