@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100&display=swap');


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}

/*Aqui empieza la parte de Orejarena (Tarjeta Aspirante)*/

.padre{

    display: grid;
    justify-items: center;
    gap: 1.5rem;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.8) 100%);
    inline-size: fit-content;
    
    border-radius: 30px;
    padding: 40px 30px 40px 30px;

}

.topCard{

    display: grid;
    justify-items: center;
    gap: 1.7rem;

}

.topCard .tituloRol{

    color: #4267C7;

}

.topCard .fondoImg{

    background-color: white;
    display: flex;
    justify-content: center;
    
    inline-size: fit-content;
    padding: 2.5rem;

    border-radius: 50%;

}

.padre .parrafoRol{

    font-size: 19px;
    inline-size: 21rem;
    text-align: center;

}

.padre .botonContinuar{

    padding: 8px 16px;
    border-radius: 10px;
    font-size: 16px;

    color: white;
    border: none;

}

/*Aqui termina la aprte de Orejarena (Tarjeta aspirant)*/