*{
    padding: 0;
    margin: 0;
}

#app{
    position: relative;
    min-height: 100vh;
}
.padre{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://s3-alpha-sig.figma.com/img/d727/fdf9/c0f8a550b40737ceb1bbb1606e1faea9?Expires=1672012800&Signature=DG66pqrCxz5pMq0EI~iUfJClZv6IAPL16vbIzMZUxNhrtKrxP1Omak1ULiTvZjGZXSJEwsjhRKHMzUTVgLg4sglPIMJ-J58TeqvhkqKKEm-Ieqr6KgAr6~wyPrwG~T4v-ymnxP7TshshOcVs0VGu4UJ8JTEgMYLDGtNtcuBpbiWh7sifP1cZyEXl0zyc8cvLji9kTB3yem9LhkgLdsBXjRIDT3juBhmtbD2YXOf3o73GQj~JE76bWR5IsVjFDjVQgkIDoRe726cB9eJGaMT85-9Liykg~4HaLFIZQRHi-4tcwX8gXTN6mNdd6WauKJCwInPxU~eRPk-a1-SRiGAhAw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
    min-height: 100%;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(50px);
    z-index: -10;     
}

.contpadre{
    
    display: grid;
   place-items: center;
    min-height: 100%;
    min-width: 100%;
    height: 100vh;
    width: 100vw;
}
.cont {
    height: 400px;
    width: 50%;
    background-color: red;
}


*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*Credenciales*/

.credentials-login{
    border-radius: 5px;
    padding-left: 20px;
    margin-top: 20px;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/*Título*/

.title-login-card{
    display: flex;
    justify-content: center;    
}

.blue-text{
    color: #4267C7;
}

.red-text{
    color: #D35499;
}

/*Card */
.total-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/*Button*/

button{
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    background-color: #6170FC;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 0.5rem;
}

.button-div{
    text-align: center;
}

/*Texto login*/

.text-login{
    padding-left: 20px;
}




