/*Aca empieza la parte de sebastian*/
.cont{
    width: 150px;
    height: 150px;
    background-color: bisque;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.spas{
    text-align: center;
    display: block;
    width: 100%;
    height: 20%;
}
/*Aca termina la parte de sebastian*/