/*Aquí yace la parte de KDOE-117*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Estructura Registro Empresa Seccion A*/
.seccionA {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}

.seccionLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 40%;
    border: 1px solid #000;
    row-gap: 20px;
}

.seccionCredenciales {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 30vh;
    border: 1px solid #000;
}
.subSecSup {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.subSecInf {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.contGeneral {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*Estilos Registro Empresa Seccion A*/
.textEdit {
    color: #000;
    font-weight: bold;
}

.textoEmpresa {
    font-size: 1.2rem;
}
.inputEmpresa {
    font-size: 1.1rem;
    padding:5px 10px 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(126, 120, 120)
}

/*Logos*/
.contLogo{
    border-radius: 100%;
    cursor: pointer;
}
.contLogo .LogoRegister {
    width: 150px;
    padding: 10px;
    background-color: white;
    border-radius: 100%;
}

/*Aquí termina la parte de KDOE-117*/