<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="log.css">
</head>
<body>
    <div class="container">
        <div class="container-location">
            <div class="info">Fecha y lugar de surgimiento</div>
            <div class="info-location">
                <div class="div-info">
                    <label for="birth">Fecha de nacimiento</label>
                    <input type="date" name="birth" id="data">
                </div>
                <div class="div-info">
                    <label for="country">País</label>
                    <select name="country" id="data"><option value="">Ingrese ciudad</option></select>
                </div>
                <div class="div-info">
                    <label for="city">Ciudad</label>
                    <select name="city" id="data"><option value="">Ingrese ciudad</option></select>
                </div>
            </div>
        </div>
        <div class="container-description">
            <label for="description">Descripción de la empresa</label>
            <textarea name="description" id="description" cols="30" rows="10" placeholder="placeholder"></textarea>
        </div>
    </div>
    <script type="module" src="./mainLog.js"></script>
</body>

</html>