/*Aquí yace la parte de KDOE-117*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Estructura Registro Empresa Seccion A*/
.seccionA {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}

.seccionLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 40%;
    border: 1px solid #000;
    row-gap: 20px;
}

.seccionCredenciales {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 30vh;
    border: 1px solid #000;
}
.subSecSup {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.subSecInf {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.contGeneral {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*Estilos Registro Empresa Seccion A*/
.textEdit:hover{
    cursor: pointer;
    color: #000;
    font-weight: bold;
}

.textoEmpresa {
    font-size: 1.2rem;
}
.inputEmpresa {
    font-size: 1.1rem;
    padding:5px 10px 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(126, 120, 120)
}

/*Logos*/
.contLogo{
    border-radius: 100%;
    cursor: pointer;
}
.contLogo .LogoRegister {
    width: 150px;
    padding: 10px;
    background-color: white;
    border-radius: 100%;
}

/*Aquí termina la parte de KDOE-117*/


/*aca empieza pao  */

/* Diseño del modal */


.modalContent{
    box-sizing: border-box;
    /* height: 30vh; */
    width: 35%;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 2px dashed #CECECE;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    /* display: none; */
    position: fixed;
    z-index: 1;
    overflow: auto; 
    display: flex;
    
    

 }

 img.imageUpload{
    
    height: 22px;
    width: 33px;
    
    

 }

 .uploadImage {
    display: flex;
    align-items: center;
    justify-content: center;
 }


 .modalContent .close{
    color: red;
    float: right;
    font-size: 26px;
    font-weight: bold;
    
 }
  
 .modalContent .close:hover .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
 }
  
 .modalContent .divTextUpload{
    width: 90%;
    left: 47px;
    top: 141px;
    border-radius: nullpx;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    /* letter-spacing: -0.07999999821186066px; */
    text-align: left;



 }

 .textosUpload{
    display: flex;
    align-items: center;
    justify-content: center;
    
 }

 

.modalContent {
    /* display: flex; */
    display: block;
    padding: 20px;
    gap : 20px;
 }


 .fileInput{
    display: none;
}