@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

/* Aqui empieza La parte de Orejarena */

body{

    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;

}

.Padre{

    background: rgba(0, 0, 0, 0.1);
    width: fit-content;
    border-radius: 30px;
    display: grid;
    gap: 2.1rem;
    padding: 30px;


}


/* Aqui termina la parte de Orejarena */

/*Aquí yace la parte de KDOE-117*/
/*Estructura Registro Empresa Seccion A*/
.seccionA {
    display: flex;
    width: 100%;
    gap: 70px;
}

.seccionLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.seccionCredenciales {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.subSecSup {
    display: flex;
    align-items: center;
    gap: 4rem;
}
.subSecInf {
    display: flex;
    align-items: center;
    gap: 4rem;
}
.contGeneral {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*Estilos Registro Empresa Seccion A*/
.textEdit {
    cursor: pointer;
    color: #000;
    font-weight: bold;
}

.textoEmpresa {
    
    font-size: 1rem;
}
.inputEmpresa {
    font-size: 1.1rem;
    padding:5px 10px 5px 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(126, 120, 120)
}

/*Logos*/
.contLogo{
    border-radius: 100%;
    cursor: pointer;
}
.contLogo .LogoRegister {
    width: 150px;
    padding: 10px;
    background-color: white;
    border-radius: 100%;
}

/*Aquí termina la parte de KDOE-117*/


/*Aqui empieza la parte de Julieth*/
/* Estilos del contenedor padre */

.seccionB{

    display: grid;
    gap: 2.1rem;

}

.container{
    display: grid;
    margin: 1em;
    padding: 30px;
    gap: 36px;
    /* position: absolute; */
    background: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

/* Contenedor de las fechas y ubicacion */
.container-location{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* Texto inicial de los datos */
.info{
    font-style: normal;
    font-weight: 500;
    font-size: 1.15rem;
    line-height: 20px;
    display: flex;
    align-items: center;
}

/* contenedor padre de los datos de la empresa */
.info-location{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0px;
    gap: 41px;
}

/* contenedor de los datos */
.div-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
}

/* label de los datos y descripcion */
label{
    font-style: normal;
    font-size: 1rem;
    line-height: 20px;
    display: flex;
    
    align-items: center;
}

/* Estilos input y select */
#data{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px 13px;
    width: 250px;
    height: 38px;
    background: #FFFFFF;
    border: 2px solid #CED4DA;
    border-radius: 10px;
}

/* Contenedor de la descripcion de la empresa */
.container-description{
    display: grid;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.container-description label{
    
    font-size: 1rem;

}

.description{

    height: 5rem;
    border: 1px solid #C2C2C2;
    padding: .2rem .5rem;
    border-radius: .5rem;

}
/*Aquí Finaliza Parte de Yulieth Correa*/


/* desde aquí empiza los estilos del cuentanos mas sobre tí parte que le tocaba a andres felipe olarte */

.parentInterest{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
    border: none;
    background: #ffffff;
    
    border: 1px solid #C2C2C2;
    border-radius: .8rem;

}

.interestBtn{
    border: none;
    background: #6171FF;
    border-radius: 10px;
    font-size: 16px;
    color: #ffffff;
    width: fit-content;
    padding: .5rem 1rem;
}

button:hover{
    cursor: pointer;
}

/* aquí finaliza la parte de Andres Felipe Olarte Quintero */


/*aca empieza pao  */

/* Diseño del modal */

.divFatherUpload{
    position: absolute;
    
}

.modalContent{
    width: 200px;
    box-sizing: border-box;
    height: 160px;
    bottom: 207px;
    left: -44px;
    background: #FFFFFF;
    border: 2px dashed #CECECE;
    border-radius: 16px;
    position: relative;
    z-index: 1;
    overflow: auto; 
    display: flex;
    
    

 }

 img.imageUpload{
    
    height: 22px;
    width: 33px;
    cursor:pointer;
    
    

 }

 .uploadImage {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 

 .modalContent .close{
    color: red;
    float: right;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    
 }

 
  
 .modalContent .close:hover .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
 }
  


 .textosUpload{
    font-family: 'Poppins';
    font-size: 11px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.08px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5px;
    
 }

 

.modalContent {
    /* display: flex; */
    display: block;
    padding: 30px;
    /* gap : 20px; */
 }


 .fileInput{
    display: none;
}

/*aca finaliza la parte de pao */