@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100&display=swap');

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";

}

body{
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);
}

/* Cajas de mensajes (Maria) */

*{
  padding: 0;
  margin: 0;
}

[class*="box-message-"]{

  position: relative;


  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  padding: 15px 43px 10px 20px;
  border-radius: 10px;
  margin-bottom: 10px;

}

.box-message-verde{

  background-color: #61C554;
  color: white;

}

.box-message-gris{

  background-color: #E8ECEF;
  color: black;

}

.icon-check{
    position: absolute;
    text-align: right;
    right: 10px;
    bottom: 0;
}

.message{
  font-size: 14px;
}

.double-check-verde{
  width: 15px;
  height: 15px;
  filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(72deg) brightness(104%) contrast(99%)
}

.double-check-gris{
  width: 15px;
  height: 15px;
  filter: invert(83%) sepia(4%) saturate(6487%) hue-rotate(169deg) brightness(104%) contrast(100%)
}

.hour{
  color: #727272;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: right;
}

[class*="parentMessage"]{


  width: fit-content;

}
/* Aca acaba la parte de Maria */

/*Aca empieza la parte de Orejarena*/

.parentTop{

  display: flex;

}

.contImgTopMid{

  max-width: 10%;
  max-height: 10%;
  border-radius: 50%;

}

.imgTopMidChat{

    width: 100%;
    height: 100%;
    border-radius: 68%;

}

.padreCenter{

  display: grid;
  gap: 1rem;

}

.parentMessage-emisor{

  display: flex;
  flex-direction: column;
  justify-self: center;

}

/*Aca termina la parte de Orejarena*/

/*Aca empieza la parte de sebastian*/
 .cont{
  width: 150px;
  height: 150px; 
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.spas{
  text-align: center;
  color: red;
  display: block;
  width: 100%;
  height: 20%;
}
/*Aca termina la parte de sebastian*/

/* Aquí empieza parte de Yulieth */

/* Contact info y about */
.info, .about{
  font-size: 14px;
  text-align: left;
}

/* imagen de perfil */
.ellipse{
  background: url(https://i.ibb.co/4FRrXkw/Ellipse-18.png);
  display: flex;
  align-content: center;
}

/* Nombre de perfil */
.nameProf{
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* Descripción del perfil */
.description{
  font-size: 14px;
  text-align: center;
  color: #A2A2A2;
}
/* Aquí termina parte Yulieth */
/*Aca empieza la parte de Carlos*/

#app{
  /* margin-left: 400px;
  margin-top: 125px;  */
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.conainer-all-chat{
  /* padding-top: 17vh; */
  display: flex;
  flex-direction: column;
  
}

.title-all-chats{
  padding-left: 2.5vh;
  font-size: 2vh;
}

.interCaja{
  cursor: pointer;
}

.interCaja:hover{
  border: 3px  #F1F4F6;
  background-color: #F1F4F6;
  transition: .3s;
}

.insertPhotoChat:hover{
  transform: scale(1.2);
  transition: .3s;
}

.insertPhotoChat{
  cursor: pointer;
}

/*Aca termina la partde de Carlos*/

/*acá empieza la parte de andres Olarte*/
.parentChat{ /*este es el estilo del contenedor que contiene el buscador y los chats*/
  display: flex;
  flex-direction: column;
  width: 519px;
  height: 780px;
  border: solid;
}
.dadCont{/*agegando estilo al contenedor que contiene el buscador*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  
}
.searc{
  display: flex;
  background: #F2F3F5;
  width: 80%;
  height: 35px;
  border-radius: 20px;
  padding: 5px;
  font-size: 14px;
  gap: 7px;
  
}
.lupa{
  width: 30px;
  height: 100%;
  border: none;  
}
.searchContac{
  border: none;
  background: none;
  cursor: text;
  
}
/*acá termina la parte de andres Olarte*/
