@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100&display=swap');

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";

}

/* Cajas de mensajes (Maria) */

.box-message-verde{
  background-color: #61C554;
  padding: 10px;
  color: white;
  border-radius: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

.box-message-gris{
  background-color: #E8ECEF;
  padding: 10px;
  color: black;
  border-radius: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

.hour{
  color: #727272;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: right;
}
/* Aca acaba la parte de Maria */

/*Aca empieza la parte de sebastian*/
.cont{
  width: 150px;
  height: 150px;
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.spas{
  text-align: center;
  color: red;
  display: block;
  width: 100%;
  height: 20%;
}
/*Aca termina la parte de sebastian*/