@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100&display=swap');

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";

}

/* Cajas de mensajes (Maria) */

*{
  padding: 0;
  margin: 0;
}

[class*="box-message-"]{

  position: relative;


  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  padding: 15px 43px 10px 20px;
  border-radius: 10px;
  margin-bottom: 10px;

}

.box-message-verde{

  background-color: #61C554;
  color: white;

}

.box-message-gris{

  background-color: #E8ECEF;
  color: black;

}

.icon-check{
    position: absolute;
    text-align: right;
    right: 10px;
    bottom: 0;
}

.message{
  font-size: 14px;
}

.double-check-verde{
  width: 15px;
  height: 15px;
  filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(72deg) brightness(104%) contrast(99%)
}

.double-check-gris{
  width: 15px;
  height: 15px;
  filter: invert(83%) sepia(4%) saturate(6487%) hue-rotate(169deg) brightness(104%) contrast(100%)
}

.hour{
  color: #727272;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: right;
}

[class*="parentMessage"]{


  
  max-width: 80%;

}
/* Aca acaba la parte de Maria */

/*Aca empieza la parte de Orejarena*/

body{

  height: 100vh;

}

#app{

  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;

}

.parentParentMid{

  border: thin solid black;
  padding: 1rem;
  width: 50%;

}

.parentTop{

  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  gap: 1rem;

}

.contImgTopMid{

  display: flex;
  width: fit-content;

}

.imgTopMidChat{

  width: 84px

}

.padreCenter{

  display: grid;
  gap: 1rem;

}

.parentMessage-emisor{

  display: flex;
  flex-direction: column;
  justify-self: end;

}

/*Aca termina la parte de Orejarena*/

/*Aca empieza la parte de sebastian*/
.cont{
  width: 150px;
  height: 150px;
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.spas{
  text-align: center;
  color: red;
  display: block;
  width: 100%;
  height: 20%;
}
/*Aca termina la parte de sebastian*/