@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* Empieza la parte de vanessa */
    .containerFather{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .appDivPadre{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }

    .appDivPadreSpan{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .divDescription{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }

    .spanPlaceHolder{
        display:flex;
        align-items: center; 
        color: #757575;   
        padding: 6px 12px;
    }

    .divSonDescription{
        border: #C2C2C2 1px solid;
        border-radius: 8px;
        width: 100%;
        height: 150px;
    }

    .buttons{
        width: 80px;
        /* height: 80px; */
    }
/* Aqui termina la parte de vanessa */

/* Empieza parte de johan */
.container{
    width: 100%;
    display: flex;
    gap: 60px;
}

.containerParagraphs{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px ;

}

.divImagen{
    width: 30%;
}

.divImageProfile {
    width: 100%;
    display: flex;
    justify-content: center;
}

.imagenProfile{
    width: 150px;
    border-radius: 100%;
    background-color: green;
}

.paragraphs{
    text-align: justify;
}

.divParagraphs{
    width: 70%;
    color: #757575
}

.divSubTitles{
    color: #757575
}

/*Termina parte de johan*/

.botones{
    width: 113px;
    height: 36px;
    font-family: 'Work Sans';
    font-size: 16px;
    background: #D5D9FF;
    color: #4267C7;
    border-radius: 10px;
    border: none;
}
.containerbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 8px, 16px, 8px, 16px; */
    gap: 15px;
}
.divContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parrafo{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

